# byte-compiled / optimized / DLL files
**/__pycache__

# configuration files
*.ini
!Config_examples/*.ini

# temporary directory for signal synchronization
sig-tmp

# distribution / packaging
build
dist
**/*.egg-info

# documentation sphinx
doc/build

