# byte-compiled, optimisation, build, ...
**/__pycache__
**/build
**/dist
**/*.egg-info
tree_view.txt

# configuration files
*.ini

# temporary directory for signal synchronization
sig-tmp

# OS specific hidden files
**/._*
